@page
@model Projet.Pages.RegisterModel
@{
	string today = DateTime.Now.ToShortDateString();
}
<h1>Registration</h1>
<p>Aujourd'hui le @today</p>
<form method="post" class="col-4 offset-4">
    <div>
        <label class="form-label">Username</label>
        <input type="text" asp-for="Compte.Username" class="form-control" />
        <span asp-validation-for="Compte.Username" class="text-danger"></span>
    </div>
    <div>
        <label class="form-label">Password</label>
        <input type="password" asp-for="Compte.Password" class="form-control" />
        <span asp-validation-for="Compte.Password" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Register</button>
    </div>

</form>
